.git
.gitignore
.pnpm-store
.venv
**/node_modules
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.env
**/.env.local
**/venv
**/dist
backend/ongc_intelliassist.db*
backend/storage/
backend/server.log
backend/server.err.log
frontend/server.log
frontend/server.err.log
